Repository Secineralyr/misskey.dream, pull requests merged in 2023-08, with the labels that each got.

#21 WIP: カスタム絵文字の所有者情報の追加等
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ja-KS.yml
  packages/backend/migration/1690879363087-add-author.js
  packages/backend/migration/1690953943975-emoji-moderation-log.js
  packages/backend/migration/1690982377323-fix-emoji-moderation-log.js
  packages/backend/migration/1690984946536-change-column-moderation-log.js
  packages/backend/src/core/CoreModule.ts
  packages/backend/src/core/CustomEmojiService.ts
  packages/backend/src/core/EmojiModerationLogService.ts
  packages/backend/src/core/RoleService.ts
  packages/backend/src/core/activitypub/models/ApNoteService.ts
  packages/backend/src/core/entities/EmojiEntityService.ts
  packages/backend/src/core/entities/RoleEntityService.ts
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/di-symbols.ts
  packages/backend/src/misc/json-schema.ts
  packages/backend/src/models/RepositoryModule.ts
  packages/backend/src/models/entities/DriveFile.ts
  packages/backend/src/models/entities/Emoji.ts
  packages/backend/src/models/entities/EmojiModerationLog.ts
  packages/backend/src/models/entities/Role.ts
  packages/backend/src/models/entities/User.ts
  packages/backend/src/models/index.ts
  packages/backend/src/models/json-schema/emoji-log.ts
  packages/backend/src/models/json-schema/emoji.ts
  packages/backend/src/models/json-schema/user.ts
  packages/backend/src/postgres.ts
  packages/backend/src/queue/processors/ImportCustomEmojisProcessorService.ts
  packages/backend/src/server/api/ApiCallService.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/admin/emoji/add.ts
  packages/backend/src/server/api/endpoints/admin/emoji/copy.ts
  packages/backend/src/server/api/endpoints/admin/emoji/delete.ts
  packages/backend/src/server/api/endpoints/admin/emoji/get-emoji-log.ts
  packages/backend/src/server/api/endpoints/admin/emoji/update.ts
  packages/backend/src/server/api/endpoints/admin/roles/create.ts
  packages/backend/src/server/api/endpoints/admin/roles/update.ts
  packages/frontend/src/components/MkEmojiLog.vue
  packages/frontend/src/pages/admin/RolesEditorFormula.vue
  packages/frontend/src/pages/admin/roles.edit.vue
  packages/frontend/src/pages/admin/roles.editor.vue
  packages/frontend/src/pages/emoji-edit-dialog.vue
  packages/frontend/src/pages/emojis.emoji.vue
  packages/misskey-js/src/api.types.ts
  packages/misskey-js/src/entities.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#22 Pr folder recusive
  packages/backend/src/server/api/endpoints/drive/folders/delete.ts
Labels: packages/backend

#25 fix note header style
  packages/frontend/src/components/MkNoteHeader.vue
Labels: packages/frontend
